.idea/*
/.env
build
dump/*
gulpfile.js
yarn.lock
composer.phar
model.mwb.bak
.sass-cache
/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/settings.json
.phpstorm.meta.php
nbproject/
_ide_helper.php
_ide_helper_models.php
public/.fast_background
public/sitemap.xml
bootstrap/cache
package-lock.json
composer.lock
/docker_server_env
docker-compose.yaml
.DS_Store
docker-compose.yml
/.docker
